{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to our shop</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <div class="wrapper">
      {% if user.is_authenticated %}
        <h1><a href="{% url 'cars:list' %}"><img src="{% static 'logo.jpg' %}" width="5%" height="10%"/></a></h1>
      {% else %}
        <h1><a href="{% url 'homepage' %}"><img src="{% static 'logo.jpg' %}" width="5%" height="10%"/></a></h1>
      {% endif %}
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          <li>
            <form class="order-link" action="{% url 'rents:list' %}" method="get">
              {% csrf_token %}
              <button type="submit">Your rent requests</button>
            </form>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
